<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8" />
<title>Welcome to SnapSearch Website</title>
<link rel="stylesheet" type="text/css" media="all" href="styles.css" />
</head>
<body bgcolor="#f7f7f7">
<h1 align="center"><em><font color="#8481C5"><strong>Welcome to SnapSearch Website</strong></font></em></h1><br/><br/><br/>
<form id="upload" action="snap.html" method="POST" enctype="multipart/form-data">

<fieldset style="position:absolute; left:50px; top:250px">

<input type="hidden" id="MAX_FILE_SIZE" name="MAX_FILE_SIZE" value="300000" />

<div>
	<label for="fileselect">Files to upload:</label>
	<input type="file" id="fileselect" name="fileselect[]" multiple="multiple" />
	<div id="filedrag">or drop files here</div>
</div>

<div id="submitbutton">
	<button type="submit">Upload Files</button>
</div>

</fieldset>

</form>

<div id="messages">
<p>Status Messages</p>
</div>
<script src="filedrag.js"></script>

<div style="border: 3px solid #2e82ff; background: #9FA4A6; width:300px; height:50px; font-size:30px; float: right; position: absolute; left: 800px; top: 200px" align="center">Image Description</div><br/>
<table border="1" align="right" width="300px" style="position: absolute; left: 800px; top:300px">
    <tr>
        <th>Top 3 keywords</th>
    </tr>
    <tr><td>URL1</td></tr>
    <tr><td>URL2</td></tr>
    <tr><td>URL3</td>
    </tr>
</table>
<br/>

<div style="border: 3px solid #2e82ff; background: #9FA4A6; width:300px; height:50px; font-size:30px; position: absolute; top:600px;left: 50px" align="center">Image Information</div><br/>
<p style="position: absolute;top: 700px" align="center">4-5 lines from Wikipedia about the image, from the topmost keyword.</p><br/>
<div style="border: 3px solid #2e82ff; background: #9FA4A6; width:300px; height:50px; font-size:30px; position: absolute;top: 800px;left: 50px" align="center">Helpful Links</div><br/><br/>
<p style="position: absolute;top: 900px">Total 10 Web URL’s about the image. Top 4 url’s as combination of top 3 kewords. Then 2 URL’s per keyword from Google Search result.</p>

</body>
</html>